<!DOCTYPE html>
<!--模板语言   https://docs.djangoproject.com/zh-hans/3.1/topics/templates/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    {% for choice in question.choice_set.all %}
        <li> {{ choice.choice_text }} </li>
    {% endfor %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
<!--        由于我们创建一个 POST 表单（它具有修改数据的作用），所以我们需要小心跨站点请求伪造。 谢天谢地，你不必太过担心，因为 Django 自带了一个非常有用的防御系统。 简而言之，所有针对内部 URL 的 POST 表单都应该使用 {% csrf_token %} 模板标签。-->
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
<!--        forloop.counter 指示 for 标签已经循环多少次。-->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <lable for="choice{{ forloop.counter }}">{{ choice.choice_text }}</lable><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
<!--    <ul>-->
<!--        {% for choice in question.choice_set.all %}-->
<!--            <li>{{ choice.choice_text }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    {{ question }}
</body>
</html>